.navbar-collapse {
  box-shadow: none;
}

.site-header .main-navigation .menu.nav {
  @include respond-to-custom-size(null, 1023px) {
    box-shadow: none;
  }
}

body {
  font-family: "Open Sans";
}
img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}
.success {
  color: green;
  text-align: center;
}

.np-alert {
  .alert {
    margin-bottom: 0;
  }

}

.np-alert {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  width: 100%;
}

.btn-hat {
  background: #7097cd;
  color: #FFFFFF;
  border: none;
  &:hover {
    background: #7097cd;
    color: #FFFFFF;
  }
}

.btn-back {
  background: #dddddd;
  color: #333;
  border-radius: 3px;
  &:hover {
    background: #dddddd;
    color: #333;
  }
}

.site-header .main-navigation .navbar-toggle {
  border: 0;
  padding: 0;
  margin: 12px 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  height: 33px;
  width: 40px;
  background: transparent !important;
  @include respond-to-custom-size(null, 480px) {
    width: 33px;
    height: 27px;
  }
  &:focus, &:hover {
    background-color: transparent;
  }
  .icon-bar {
    background-color: #7097cd;
    width: 40px;
    height: 3px;
    border: 0;
    position: absolute;
    right: 0;
    left: 0;
    transition: all 0.3s;

  }
  .icon-bar:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
  }
  .icon-bar:nth-child(3) {
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
  }
  .icon-bar:nth-child(4) {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
  }
  &.collapsed {
    .icon-bar:nth-child(2) {
      top: 0;
      bottom: auto;
      transform: rotate(0);
    }
    .icon-bar:nth-child(3) {
      opacity: 1;
    }
    .icon-bar:nth-child(4) {
      top: auto;
      bottom: 0;
      transform: rotate(0);
    }
  }
  @include respond-to-custom-size(null, 480px) {
    margin: 9px 0;
    .icon-bar {
      width: 33px;
    }
  }
}
.display-block{
  display: block;
}
blockquote{
  font-size: 14px;
  p:first-child{
    margin-top: 0;
  }
}
.align-right{
  text-align: right;
  display: block;
}
.vertical-top{
  vertical-align: top;
}
.height-34{
  height: 34px;
}
.post-item{
  .image{
    padding: 0 10px;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}