.main-banner {
  background-image: url("../images/TM_Coupon_BG_v1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include respond-to-custom-size(null,992px) {
    background-size: auto 100%;
    background-position: 0 0;
  }
}
.banner-intro {
  padding: 109px 20px 120px 60px;
  color: #fff;
  @include respond-to-custom-size(null,992px) {
    padding: 30px 30px 30px 30px;
  }
  .intro-heading-left,.intro-heading-right {
    float: left;
  }
  .intro-heading {
    font-size: 40px;
    font-family: "Korolev-Bold",sans-serif;
  }
  .intro-heading-master {
    font-size: 94px;
    line-height: 70px;
  }
  .intro-heading-slave {
    font-size: 50px;
  }
  .intro-heading-number {
    font-size: 173px;
    vertical-align: top;
    line-height: 139px;
    display: inline-block;
  }
  .intro-heading-curency {
    display: inline-block;
    vertical-align: bottom;
    font-size: 50px;
    padding-left: 5px;
  }
  .intro-middle, .intro-bottom{
    font-size: 16px;
  }
  .intro-middle {
    position: relative;
    top: -10px;
  }
  .hr-line {
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
  }
}

.main-intro {
  .left-content {
    @include respond-to-custom-size(992px) {
      width: 70%;
    }
  }
  .right-content {
    text-align: center;
    @include respond-to-custom-size(992px) {
      width: 30%;
    }
  }
  .left-content-inner {
    padding: 24px 32px 20px 32px;
    @include respond-to-custom-size(null,992px) {
      padding:15px;
    }
  }
  .right-content-inner {
    padding: 28px 0;
    .logo {
      margin-bottom: 43px;
    }
  }
  .intro-title {
    font-size: 20px;
    font-family: "Korolev-Bold", sans-serif;
    line-height: 25px;
  }
  .intro-content {
    font-family: "DINNextLTPro-Condensed", sans-serif;
    padding: 13px 0;
    line-height: 16px;
  }
}
.tmp-home {
  .modal-dialog {
    height: 100%;
    display: table;
    margin: 0 auto;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-content {
    padding: 20px;
    text-align: center;
  }
}
.pin-image {
  padding: 20px;
}
.print-btn {
  text-align: center;
  padding: 15px 0;
  transition: all 0.4s;
  &.hide-item {
    height: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
  }
  .btn-print {
    background: #c0242d;
    padding: 5px 45px;
    font-size: 25px;
    color: #fff;
    border: 0;
    &:hover {
      background: #c0242c;
      background-image: -webkit-linear-gradient(top, #c0242c, #b30d18);
      background-image: -moz-linear-gradient(top, #c0242c, #b30d18);
      background-image: -ms-linear-gradient(top, #c0242c, #b30d18);
      background-image: -o-linear-gradient(top, #c0242c, #b30d18);
      background-image: linear-gradient(to bottom, #c0242c, #b30d18);
      text-decoration: none;
    }
  }
}
.modal-backdrop.in {
  filter: alpha(opacity=90);
  opacity: 0.98;
}

@media print {
  .container {
    padding: 0 !important;
    width: 1000px;
  }
  #force-print,.modal-backdrop, .modal-backdrop.fade.in,#yii-debug-toolbar {
    display: none !important;
  }
  .print-btn {
    display: none;
  }
  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }
  .main-banner, .btn-print {
    display: none;
  }
  .main-intro {
    .left-content,.right-content {
      display: none;
    }
  }
}
.tmp-thank-you {
  .modal-content {
    background: #c0242d;
  }
}
.thank-you-text {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-family: "Korolev-Bold", sans-serif;
}
.thank-you.modal-open {
  height: 100vh;
  overflow: hidden !important;
}
