@import "common";
@import "functions";
@import "devices";
@import "horizontal-resp-nav-menu";
@import "site-global";
@import "site-home";

p.shortener-item { margin-bottom: 12px; padding-left: 6px; margin-top: 12px;}