// Repair some styles for errors
.has-error {
  .help-block, .help-block-error {font-style: italic;}
  .help-block.hint { display: none; }
  .login .content & p.help-block, p.help-block, .login .content & p.help-block-error, .help-block-error  {color: #e73d4a;}
  div.help-block-error {
    margin-top: 4px;
  }
}

// Alert and the top of the page
.np-alert {
  .alert {
    margin-bottom: 0;
  }
  body > & {
    position: fixed; left: 0; top: 0; z-index: 1000000; width: 100%;
  }
}

// Repair some stuffs with form: add required fields character
.form-group {

  // Text input or select box
  &.form-md-line-input .help-block, &.form-md-line-input .help-block-error, &.form-md-radios .help-block, &.form-md-radios .help-block-error {
    font-size: 85%;
  }

  &.form-md-line-input {
    .select2-container--krajee .select2-selection--single .select2-selection__arrow { border-width: 0;}
  }

  &.required > label, &.form-md-line-input.required label, &.form-md-radios.required label {
    &:before { content: "* "; color: #e73d4a;}
  }

  // Radio List
  &.form-md-list {
    > label {color: #888;}
    & > div > div.radio, & > div > div.checkbox {
      width: auto;
      height: auto;
      display: block;
      vertical-align: bottom;
      margin-left: 0;
      margin-bottom: 6px;
      > label {
        padding-left: 0;
      }
      div.radio {
        margin-left: 0;
      }
    }

    .hint-block { color: #36c6d3; font-size: 85%; display: none;}
    &:focus .hint-block { display: block;}

    &.inline-list > div > div.radio, &.inline-list > div > div.checkbox {
      display: inline-block; margin-right: 20px;
    }

    &, &.has-success, &.has-error {
      div.radio label, div.checkbox label { color: #888; }
    }
  }

  &.has-success > label, &.form-md-line-input.has-success label, &.form-md-line-input.has-success .form-control {
    border-color: #3c763d;
    color: #3c763d;
  }
}

// Add arrows for kv-grid table heading
a.asc:after {
  content: "\f063";
}
a.desc:after {
  content: "\f062";
}
a.asc:after, a.desc:after {
  position: relative;
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  padding-left: 5px;
}

// Fix kv-grid resizable column
.grid-view .rc-handle-container { overflow: inherit;}

// Repair some grid css
.kv-grid-toolbar .btn-group .btn:not(.btn-sm):not(.btn-lg) { line-height: 1.23;}
.table-common-listing{
  th { text-align: center;}
  td.serial-column { padding: 0 18px;}
}


.form-md-line-input {

  // Select2 Material Design
  .select2-container--krajee .select2-selection {
    border-width: 0 0 1px 0; box-shadow: none;
  }
  .select2-container--open + label + .help-block {
    opacity: 1;
    &.hint {
      color: #66afe9;
    }
  }

  // Blueimp file upload
  &.blueimp-file-upload {
    label.control-label {
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      color: #888;
    }

    &.has-error label.control-label {
      color: #e73d4a;
    }
    &.has-success label.control-label {
      color: #3c763d;
    }
  }
}
.select2-container {
  z-index: 1000;
}

// Blueimp file upload
table tr.template-download {
  img {
    max-width: 240px;
    max-height: 240px;
  }
}

// Layout relation.php, simple.php
body.relation, body.simple {
  background: white;
  .page-content { padding-left: 12px; padding-right: 12px; margin-left: 0;}
}

.relation-add-more { margin-bottom: 24px;}