th.not-filter {
  a {
    color: #34495e;
    text-decoration: none;
    pointer-events: none;
  }
}

.post-item .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
  img {
    max-width: 100%;
    height: auto;
  }
}

#ui-datepicker-div {
  z-index: 9999 !important;
}
.display-block{
  display: block;
}

