@import "common";

.login .logo h1 {
  display: block; text-indent: -9999em; background: url('../img/logo-admin.png') 50% 50% no-repeat; background-size: contain; height: 108px; margin: 0 0 12px;
}
.field-loginform-rememberme {
  display: none !important;
}