@import "common";
@import "global";
@import "site-view-user";

.page-logo h1 {
  display: inline-block;
  text-indent: -9999em;
  background: url('../img/logo-admin.png') 0 50% no-repeat;
  background-size: contain;
  height: 36px;
  margin: 6px 0;
}

.page-breadcrumb {
  a {
    color: #34495e;
    text-decoration: none;
  }
}

.hasDatepicker {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
}

