.page-sidebar-closed {
  .page-logo {
    h1 {
      display: none;
    }
  }
}

.technician-invoice {
  .print-logo {
    display: none;
    text-align: center;
    img {
      width: 300px;
      height: auto;
    }
  }
}

.print-content {
  table.no-border {
    width: 100%;
    tr {
      td {
        padding: 10px;
      }
    }
  }

  table.tb-invoice {
    width: 100%;
    margin: 20px 0;
    tr {
      th {
        border: solid 1px #333333;
        padding: 10px;
      }
      td {
        border: solid 1px #333333;
        padding: 10px;
      }
    }
  }
}

@media print {
  .page-title {
    display: none;
  }
  .technician-invoice {
    .print-logo {
      display: block;
    }
  }
  #print {
    display: none !important;
  }
}

