.has-error .help-block, .has-error .help-block-error {
  font-style: italic; }
.has-error .help-block.hint {
  display: none; }
.login .content .has-error p.help-block, .has-error p.help-block, .login .content .has-error p.help-block-error, .has-error .help-block-error {
  color: #e73d4a; }
.has-error div.help-block-error {
  margin-top: 4px; }

.np-alert .alert {
  margin-bottom: 0; }
body > .np-alert {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  width: 100%; }

.form-group label {
  font-weight: 400; }
.form-group.form-md-line-input .help-block, .form-group.form-md-line-input .help-block-error {
  font-size: 85%; }
.form-group.form-md-line-input input:focus {
  box-shadow: none;
  outline: none; }
.form-group.form-md-floating-label {
  margin-bottom: 18px; }
  .form-group.form-md-floating-label .help-block-error {
    position: absolute;
    bottom: -16px; }
  .form-group.form-md-floating-label.has-error .help-block.hint {
    opacity: 0; }
.form-group.required > label:before, .form-group.form-md-line-input.required label:before {
  content: "* ";
  color: #e73d4a; }
.form-group.has-success > label, .form-group.form-md-line-input.has-success label, .form-group.form-md-line-input.has-success .form-control {
  border-color: #3c763d;
  color: #3c763d; }

a.asc:after {
  content: "\f063"; }

a.desc:after {
  content: "\f062"; }

a.asc:after, a.desc:after {
  position: relative;
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  padding-left: 5px; }

.grid-view .rc-handle-container {
  overflow: inherit; }

.kv-grid-toolbar .btn-group .btn:not(.btn-sm):not(.btn-lg) {
  line-height: 1.23; }

.table-common-listing th {
  text-align: center; }
.table-common-listing td.serial-column {
  padding: 0 18px; }

.form-md-line-input .select2-container--krajee .select2-selection {
  border-width: 0 0 1px 0;
  box-shadow: none; }
.form-md-line-input .select2-container--open + label + .help-block {
  opacity: 1; }
  .form-md-line-input .select2-container--open + label + .help-block.hint {
    color: #66afe9; }
.form-md-line-input.blueimp-file-upload label.control-label {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  color: #888; }
.form-md-line-input.blueimp-file-upload.has-error label.control-label {
  color: #e73d4a; }
.form-md-line-input.blueimp-file-upload.has-success label.control-label {
  color: #3c763d; }

.select2-container {
  z-index: 1000; }

table tr.template-download img {
  max-width: 240px;
  max-height: 240px; }

body.relation, body.simple {
  background: white; }
  body.relation .page-content, body.simple .page-content {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0; }

.relation-add-more {
  margin-bottom: 24px; }

/*
 * @use
 *  use with ../libs/Bootstrap_Nav_Walker.php
 * @param
 *  $menu-id                     : ID of your menu element
 *  $bg-color (optional)         : background color of your navigation menu (default is transparent)
 *  $link-color (optional)       : color of link (default is inherit)
 *  $link-hover-color (optional) : color of link when hover (default is inherit)
 *  $active-color (optional)     : color of active menu item (default is $link-hover-color)
 *  $break-point (optional)      : break point of navigation menu to transfer to mobile view.
**/
.navbar-collapse {
  box-shadow: none; }

@media only screen and (max-width: 1023px) {
  .site-header .main-navigation .menu.nav {
    box-shadow: none; } }

body {
  font-family: "Open Sans"; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 1200px) {
  .container {
    width: 1030px; } }
.success {
  color: green;
  text-align: center; }

.np-alert .alert {
  margin-bottom: 0; }

.np-alert {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000000;
  width: 100%; }

.btn-hat {
  background: #7097cd;
  color: #FFFFFF;
  border: none; }
  .btn-hat:hover {
    background: #7097cd;
    color: #FFFFFF; }

.btn-back {
  background: #dddddd;
  color: #333;
  border-radius: 3px; }
  .btn-back:hover {
    background: #dddddd;
    color: #333; }

.site-header .main-navigation .navbar-toggle {
  border: 0;
  padding: 0;
  margin: 12px 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  height: 33px;
  width: 40px;
  background: transparent !important; }
  @media only screen and (max-width: 480px) {
    .site-header .main-navigation .navbar-toggle {
      width: 33px;
      height: 27px; } }
  .site-header .main-navigation .navbar-toggle:focus, .site-header .main-navigation .navbar-toggle:hover {
    background-color: transparent; }
  .site-header .main-navigation .navbar-toggle .icon-bar {
    background-color: #7097cd;
    width: 40px;
    height: 3px;
    border: 0;
    position: absolute;
    right: 0;
    left: 0;
    transition: all 0.3s; }
  .site-header .main-navigation .navbar-toggle .icon-bar:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg); }
  .site-header .main-navigation .navbar-toggle .icon-bar:nth-child(3) {
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0; }
  .site-header .main-navigation .navbar-toggle .icon-bar:nth-child(4) {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg); }
  .site-header .main-navigation .navbar-toggle.collapsed .icon-bar:nth-child(2) {
    top: 0;
    bottom: auto;
    transform: rotate(0); }
  .site-header .main-navigation .navbar-toggle.collapsed .icon-bar:nth-child(3) {
    opacity: 1; }
  .site-header .main-navigation .navbar-toggle.collapsed .icon-bar:nth-child(4) {
    top: auto;
    bottom: 0;
    transform: rotate(0); }
  @media only screen and (max-width: 480px) {
    .site-header .main-navigation .navbar-toggle {
      margin: 9px 0; }
      .site-header .main-navigation .navbar-toggle .icon-bar {
        width: 33px; } }

.display-block {
  display: block; }

blockquote {
  font-size: 14px; }
  blockquote p:first-child {
    margin-top: 0; }

.align-right {
  text-align: right;
  display: block; }

.vertical-top {
  vertical-align: top; }

.height-34 {
  height: 34px; }

.post-item .image {
  padding: 0 10px; }
  .post-item .image img {
    max-width: 100%;
    height: auto; }

.main-banner {
  background-image: url("../images/TM_Coupon_BG_v1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 992px) {
    .main-banner {
      background-size: auto 100%;
      background-position: 0 0; } }

.banner-intro {
  padding: 109px 20px 120px 60px;
  color: #fff; }
  @media only screen and (max-width: 992px) {
    .banner-intro {
      padding: 30px 30px 30px 30px; } }
  .banner-intro .intro-heading-left, .banner-intro .intro-heading-right {
    float: left; }
  .banner-intro .intro-heading {
    font-size: 40px;
    font-family: "Korolev-Bold",sans-serif; }
  .banner-intro .intro-heading-master {
    font-size: 94px;
    line-height: 70px; }
  .banner-intro .intro-heading-slave {
    font-size: 50px; }
  .banner-intro .intro-heading-number {
    font-size: 173px;
    vertical-align: top;
    line-height: 139px;
    display: inline-block; }
  .banner-intro .intro-heading-curency {
    display: inline-block;
    vertical-align: bottom;
    font-size: 50px;
    padding-left: 5px; }
  .banner-intro .intro-middle, .banner-intro .intro-bottom {
    font-size: 16px; }
  .banner-intro .intro-middle {
    position: relative;
    top: -10px; }
  .banner-intro .hr-line {
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px; }

@media only screen and (min-width: 992px) {
  .main-intro .left-content {
    width: 70%; } }
.main-intro .right-content {
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .main-intro .right-content {
      width: 30%; } }
.main-intro .left-content-inner {
  padding: 24px 32px 20px 32px; }
  @media only screen and (max-width: 992px) {
    .main-intro .left-content-inner {
      padding: 15px; } }
.main-intro .right-content-inner {
  padding: 28px 0; }
  .main-intro .right-content-inner .logo {
    margin-bottom: 43px; }
.main-intro .intro-title {
  font-size: 20px;
  font-family: "Korolev-Bold", sans-serif;
  line-height: 25px; }
.main-intro .intro-content {
  font-family: "DINNextLTPro-Condensed", sans-serif;
  padding: 13px 0;
  line-height: 16px; }

.tmp-home .modal-dialog {
  height: 100%;
  display: table;
  margin: 0 auto; }
.tmp-home .modal-wrapper {
  display: table-cell;
  vertical-align: middle; }
.tmp-home .modal-content {
  padding: 20px;
  text-align: center; }

.pin-image {
  padding: 20px; }

.print-btn {
  text-align: center;
  padding: 15px 0;
  transition: all 0.4s; }
  .print-btn.hide-item {
    height: 0 !important;
    opacity: 0 !important;
    padding: 0 !important; }
  .print-btn .btn-print {
    background: #c0242d;
    padding: 5px 45px;
    font-size: 25px;
    color: #fff;
    border: 0; }
    .print-btn .btn-print:hover {
      background: #c0242c;
      background-image: -webkit-linear-gradient(top, #c0242c, #b30d18);
      background-image: -moz-linear-gradient(top, #c0242c, #b30d18);
      background-image: -ms-linear-gradient(top, #c0242c, #b30d18);
      background-image: -o-linear-gradient(top, #c0242c, #b30d18);
      background-image: linear-gradient(to bottom, #c0242c, #b30d18);
      text-decoration: none; }

.modal-backdrop.in {
  filter: alpha(opacity=90);
  opacity: 0.98; }

@media print {
  .container {
    padding: 0 !important;
    width: 1000px; }

  #force-print, .modal-backdrop, .modal-backdrop.fade.in, #yii-debug-toolbar {
    display: none !important; }

  .print-btn {
    display: none; }

  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0;
    /* this affects the margin in the printer settings */ }
  .main-banner, .btn-print {
    display: none; }

  .main-intro .left-content, .main-intro .right-content {
    display: none; } }
.tmp-thank-you .modal-content {
  background: #c0242d; }

.thank-you-text {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-family: "Korolev-Bold", sans-serif; }

.thank-you.modal-open {
  height: 100vh;
  overflow: hidden !important; }

p.shortener-item {
  margin-bottom: 12px;
  padding-left: 6px;
  margin-top: 12px; }
